div {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 50%;
    background-image: url("../003-exercise-one/joey.jpg");
    background-size: cover;
}

img {
    border: 3px groove orangered;
    border-radius: 50%;
}
.onejoey {
    border: 3px dashed orangered;

}
.twojoey {
    border: 3px dotted orangered;

}
.threejoey {
    border: 3px double orangered;
3